<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">{{ title }}</h6>
    </div>
    <div class="card-body">
      <form [formGroup]="hospitales" (ngSubmit)="grabar()">
        <div class="mb-2">
          <label for="Nombre">Nombre</label>
          <input type="text" class="form-control" formControlName="Nombre" />
          @if (hospitales.invalid && (hospital.dirty || hospitales.touched)) {
          <div class="alert">
            @if (hospitales.errors?.["required"]) {
            <div class="ng-invalid">Nombres es requerido</div>
            }
          </div>
          }
        </div>
        <div class="mb-2">
          <label for="Ciudad">Ciudad</label>
          <input type="text" class="form-control" formControlName="Ciudad" />
          @if (hospitales.invalid && (hospitales.dirty || hospitales.touched)) {
          <div class="alert">
            @if (hospitales.errors?.["required"]) {
            <div class="ng-invalid">El precio  es requerido</div>
           }
          </div>
          }
        </div>
        <div class="mb-2">
          <label for="Numero_camas">Numero_camas</label>
          <input type="text" class="form-control" formControlName="Numero_camas" />
          @if (hospitales.invalid && (hospitales.dirty || hospitales.touched)) {
          <div class="alert">
            @if (hospitales.errors?.["required"]) {
            <div class="ng-invalid">La cantidad  es requerida</div>
           }
          </div>
          }
        </div>        |
        </div>
   
        <div class="mb-2">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!hospital.valid"
          >
            Grabar
          </button>
          <button class="btn btn-secondary" routerLink="/hospitales">
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>