<div class="card shadow mb-6">
    <div class="card-header py-5">
      <h6 class="m-0 font-weight-bold text-primary">{{ title }}</h6>
      <hr />
      <button class="btn btn-primary" routerLink="/nuevo-doctor">Nuevo</button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>#</th>
              <th>ID_hospital</th>
              <th>Nombre</th>
              <th>Especialidad</th>
              <th>Salario</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            @for (doctores of doctores; track doctores.ID_doctor; let i =
            $index) {
            <tr>
              <td>{{ i + 1 }}</td>
              <td>{{ doctores.ID_hospital }}</td>
              <td>{{ doctores.Nombre }}</td>
              <td>{{ doctores.Especialidad }}</td>
              <td>{{ doctores.Salario }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-outline-warning"
                  routerLink="/editar-doctor/{{ doctor.ID_doctor }}"
                >
                  Editar
                </button>
                <button
                  type="button"
                  class="btn btn-outline-danger"
                  (click)="eliminar(doctor.ID_doctor  )"
                >
                  Eliminar
                </button>
              </td>
            </tr>
            }@empty {
            <tr>
              <td colspan="5">No existen registros</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <button (click)="alerta()">mensaje</button>
