 
<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">{{ title }}</h6>
    </div>
    <!--form-->
    <div class="card-body">
    <form [formGroup]="doctores" (ngSubmit)="grabar()">
    <div class="mb-2">
     <label for="ID_hospital"> Hospitales </label>
     
    <select class="form-control" formControlName="ID_hospital">
      <option value="0">--Seleccione una opción--</option>
      @for (hospitales of ListaDoctores; track hospitales.ID_hospital ) {
      <option [value]="hospitales.ID_hospital">
        {{ hospitales.Nombre }}
      </option>
      }
    </select>
  
    </div>
   
       <div class="mb-2">
        <label for="Nombre"> Nombre </label>
        <input type="text" class="form-control" formControlName="Nombre"/>
     <!--  @if (stock.invalid && (stock.dirty || stock.touched)) {
           <div class="alert">
             @if (stock.errors?.["required"]) {
             <div class="ng-invalid">Cantidad es requerido</div>
             }
           </div>
           }-->
       </div>
       <div class="mb-2">
        <label for="Especialidad"> Especialidad </label>
        <input type="text" class="form-control" formControlName="Especialidad"/>
      <!--  @if (stock.invalid && (stock.dirty || stock.touched)) {
           <div class="alert">
             @if (stock.errors?.["required"]) {
             <div class="ng-invalid">Precio de Venta es requerido</div>
             }
           </div>
           }-->
          </div>
          <div class="mb-2">
           <label for="Salario"> Salario </label>
           <input type="text" class="form-control" formControlName="Salario"/>
         <!--  @if (stock.invalid && (stock.dirty || stock.touched)) {
              <div class="alert">
                @if (stock.errors?.["required"]) {
                <div class="ng-invalid">Precio de Venta es requerido</div>
                }
              </div>
              }-->
       </div>
       <div class ="mb-2">
        <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!doctores.valid"
      >
        Grabar
      </button>
      <button class="btn btn-secondary" routerLink="/stocks">
        Cancelar
      </button>
       </div>
       
 </form>
   </div>  
</div> 
